<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= fans_user_path(@user) %>">
    <strong id="fans" class="stat">
      <%= @user.fans.count %>
    </strong>
    fans
  </a>
</div>
